---
import { CheckDonationStatus } from "@/components/checkout-notification";
import ProgressSection from "@/components/progress-section";
import { Toaster } from "@/ui_components/ui/sonner";
import DonationBtn from "../components/donation-button";
import FaqAccordion from "../components/faq-accordion";
import SocialBtns from "../components/socialBtns.astro";
import Layout from "../layouts/Layout.astro";

const baseCurrency = "usd";

const faqs = [
    {
        question: "Why should I contribute to the fundraising campaign for your meditation app?",
        answer: "Your contribution will help us develop new features and innovative tools for our meditation app. This will enhance your mindfulness journey and create a more immersive meditation experience. By supporting us, you're making meditation more accessible to everyone.",
    },
    {
        question: "What will the funds be used for?",
        answer: "The funds raised will be used to research and develop new features for our app, improve the user interface, and create resources to deepen your practice. We aim to make our app the best resource for mindfulness and meditation.",
    },
    {
        question: "How can I contribute to the fundraising campaign?",
        answer: "You can contribute to our fundraising campaign by clicking on the 'Donate' button in our app or on our website. We appreciate any amount you can give, as every contribution brings us closer to our goal of enhancing the meditation experience for everyone.",
    },
];

const rewards = [
    { tier: 1, title: "Tier 1: Beginner Bliss ✨", amount: 5, benefits: ["Special rank on Discord"] },
    { tier: 2, title: "Tier 2: Zen Master 🧘‍♂️", amount: 15, benefits: ["Tier 1 rewards", "Special newsletter"] },
    {
        tier: 3,
        title: "Tier 3: Mindful Explorer 🌍",
        amount: 25,
        benefits: ["Tier 1 & 2 rewards", "Access to a private community", "Early access to new features and updates"],
    },
    {
        tier: 4,
        title: "Tier 4: Enlightened Guru 🙏",
        amount: 50,
        benefits: ["Tier 1, 2 & 3 rewards", "Personalized meditation recommendations", "Monthly live Q&A sessions with meditation experts"],
    },
];

const recent_donations = [
    { id: 1, name: "Adam Kowalski", amount: "$50", time: "1 minute ago" },
    { id: 2, name: "John Smith", amount: "$25", time: "23 minute ago" },
    { id: 3, name: "Jane Doe", amount: "$10", time: "3 hours ago" },
];

const title = "Support the Development of New Features";

const brand = "Medito Foundation";
const brand_logo = "/logo.png";
const brand_description =
    "Medito Foundation is a nonprofit dedicated to improving mental wellbeing and helping people cope better with depression, stress, anxiety, and any other negative states of mind.";
---

<Layout title={title}>
    <section class="container mx-auto max-w-6xl px-3 lg:mt-36">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
            <div class="flex flex-col gap-4 mt-6">
                <h1 class="text-4xl font-bold text-center lg:text-left">{title}</h1>
                <p>
                    Help us bring new features to our meditation app and enhance your mindfulness journey. With your support, we can develop innovative tools
                    and resources to deepen your practice and create a more immersive meditation experience.
                </p>
                <ul class="list-disc list-inside">
                    <li>New, better interface</li>
                    <li>More guided meditations</li>
                    <li>More languages</li>
                </ul>
                <p>Join us in this fundraising campaign and contribute to the growth of our app, making meditation accessible to everyone. ❤️</p>
                <div class="border-t border-gray-500"></div>
                <div class="flex items-center gap-4 mb-2">
                    <img class="w-10 h-10 rounded-full" src={brand_logo} alt="Rounded brand logo" />
                    <div>
                        <p class="font-semibold text-lg">{brand}</p>
                        <p class="text-sm text-gray-400">{brand_description}</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-2 bg-secondaryGray p-6 rounded-lg ring-1 ring-darkGray">
                <ProgressSection client:load />
                <DonationBtn baseCurrency={baseCurrency} rewards={rewards} client:load />
                <div class="flex items-center justify-end mt-2 mb-4">
                    <p class="pr-3">Share:</p>
                    <SocialBtns title={title} />
                </div>
                <div class="overflow-hidden">
                    <p class="font-semibold text-xl">Recent donations:</p>
                    {
                        recent_donations.map((donation) => (
                            <div class="flex items-center p-2 animate-in slide-in-from-left">
                                <svg width="42" height="42" fill="none" viewBox="0 0 24 24" class="mr-3">
                                    <path
                                        stroke="white"
                                        stroke-linejoin="round"
                                        stroke-width="1.5"
                                        d="M16 6.28a2.28 2.28 0 0 1-.662 1.606c-.976.984-1.923 2.01-2.936 2.958a.597.597 0 0 1-.822-.017l-2.918-2.94a2.281 2.281 0 0 1 0-3.214 2.277 2.277 0 0 1 3.232 0L12 4.78l.106-.107A2.276 2.276 0 0 1 16 6.28Z"
                                    />
                                    <>
                                        <path
                                            stroke="white"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="1.5"
                                            d="m18 20 3.824-3.824a.6.6 0 0 0 .176-.424V10.5A1.5 1.5 0 0 0 20.5 9v0a1.5 1.5 0 0 0-1.5 1.5V15"
                                        />
                                        <path
                                            stroke="white"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="1.5"
                                            d="m18 16 .858-.858a.484.484 0 0 0 .142-.343v0a.485.485 0 0 0-.268-.433l-.443-.221a2 2 0 0 0-2.308.374l-.895.895a2 2 0 0 0-.586 1.414V20M6 20l-3.824-3.824A.6.6 0 0 1 2 15.752V10.5A1.5 1.5 0 0 1 3.5 9v0A1.5 1.5 0 0 1 5 10.5V15"
                                        />
                                    </>
                                    <path
                                        stroke="white"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="1.5"
                                        d="m6 16-.858-.858A.485.485 0 0 1 5 14.799v0c0-.183.104-.35.268-.433l.443-.221a2 2 0 0 1 2.308.374l.895.895a2 2 0 0 1 .586 1.414V20"
                                    />
                                </svg>
                                <div>
                                    <span class="text-sm">{donation.name}</span>
                                    <p class="flex items-center gap-2">
                                        <span class="font-semibold">{donation.amount}</span>•<span class="text-xs">{donation.time}</span>
                                    </p>
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </section>

    <section class="container mx-auto px-3">
        <div class="flex flex-col gap-2 text-center mb-6">
            <h2 class="text-3xl font-semibold mx-3 text-center">Rewards</h2>
            <p class="text-lightGray font-medium">Check out cool rewards based on your donation amount!</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mt-6 lg:grid-cols-4">
            {
                rewards.map((reward) => (
                    <a
                        href="#top"
                        class="flex flex-col gap-5 rounded-lg hover:scale-105 cursor-pointer duration-300 p-6 bg-secondaryGray group ring-1 ring-darkGray"
                    >
                        <h3 class="font-medium text-lightGray text-center">{reward.title}</h3>
                        <p class="text-center font-semibold text-xl">${reward.amount}</p>
                        <ul class="space-y-3 text-center">
                            {reward.benefits.map((benefit) => (
                                <li>{benefit}</li>
                            ))}
                        </ul>
                        <div class="flex-grow" />
                        <button class="justify-self-end text-center px-6 py-3 border-2 border-orange rounded group-hover:bg-orange duration-300 group-hover:text-white">
                            Donate
                        </button>
                    </a>
                ))
            }
        </div>
    </section>

    <section class="container mx-auto px-3">
        <div class="container mx-auto">
            <div class="flex flex-col gap-2 text-center mb-6">
                <h2 class="text-4xl font-semibold">FAQ</h2>
                <p class="text-lightGray font-medium">Frequenty Asked Questions</p>
            </div>
            <FaqAccordion faqs={faqs} faqsCount={faqs.length} client:load />
        </div>
    </section>

    <div class="relative mb-6 lg:mb-52">
        <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 150" class="transition duration-300 ease-in-out delay-150">
            <style>
                .path-0 {
                    animation: pathAnim-0 10s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }
                @keyframes pathAnim-0 {
                    0% {
                        d: path(
                            "M 0,200 L 0,100 C 54.95156303675715,83.06286499484713 109.9031260735143,66.12572998969426 180,72.5 C 250.0968739264857,78.87427001030574 335.33905874270005,108.55994503607007 411,105 C 486.66094125729995,101.44005496392993 552.7406389556853,64.63448986602541 611,68 C 669.2593610443147,71.36551013397459 719.6983854345586,114.90209549982825 796,121 C 872.3016145654414,127.09790450017175 974.4658193060802,95.75712813466162 1058,79 C 1141.5341806939198,62.24287186533838 1206.43833734112,60.06939196152525 1267,66 C 1327.56166265888,71.93060803847476 1383.78083132944,85.96530401923738 1440,100 L 1440,200 L 0,200 Z"
                        );
                    }
                    25% {
                        d: path(
                            "M 0,200 L 0,100 C 56.80796976983855,120.86087255238749 113.6159395396771,141.72174510477498 176,131 C 238.3840604603229,120.27825489599948 306.34421161113016,77.97389213328753 391,75 C 475.65578838886984,72.02610786671247 577.0072140158022,108.38268636207489 642,109 C 706.9927859841978,109.61731363792511 735.6269323256612,76.49536241841292 806,74 C 876.3730676743388,71.50463758158708 988.4850566815528,102.63586396427344 1057,114 C 1125.5149433184472,125.36413603572656 1150.432840948128,117.9611817244933 1207,112 C 1263.567159051872,106.03881827550669 1351.7835795259361,103.51940901923738 1440,100 L 1440,200 L 0,200 Z"
                        );
                    }
                    50% {
                        d: path(
                            "M 0,200 L 0,100 C 49.11920302301614,99.6946066643765 98.23840604603228,99.389213328753 170,108 C 241.76159395396772,116.61078667124699 336.165578838887,134.137573342494 406,128 C 475.834421161113,121.862426657506 521.0992785984198,92.05977327378907 585,80 C 648.9007214015802,67.94022672621093 731.4373067674339,75.62315355547921 801,87 C 870.5626932325661,98.37684644452079 927.1514943318448,114.44761250429407 1005,121 C 1082.8485056681552,127.55238749570593 1181.9567159051871,127.79339642734455 1258,118 C 1334.0432840948129,108.20660357265546 1387.0216420474064,103.96530401923738 1440,100 L 1440,200 L 0,200 Z"
                        );
                    }
                    75% {
                        d: path(
                            "M 0,200 L 0,100 C 66.73789075918927,113.78113500505285 133.47578151837854,127.5622700101057 196,120 C 258.52421848162146,112.4377299898943 316.83476468567505,83.52989992785985 381,86 C 445.16523531432495,88.47010007214015 515.1851597389214,124.31748973205082 594,126 C 672.8148402610786,127.68251026794918 760.4245963586394,98.0100959996565 842,91 C 923.5754036413606,83.9899040003435 999.1164548265203,97.75712813466162 1061,114 C 1122.8835451734797,130.24287186533838 1171.1095843352798,163.50574373067675 1232,172 C 1292.8904156647202,180.49425626932325 1366.4452078323602,166.21939196152525 1440,152 L 1440,200 L 0,200 Z"
                        );
                    }
                    100% {
                        d: path(
                            "M 0,200 L 0,100 C 54.95156303675715,83.06286499484713 109.9031260735143,66.12572998969426 180,72.5 C 250.0968739264857,78.87427001030574 335.33905874270005,108.55994503607007 411,105 C 486.66094125729995,101.44005496392993 552.7406389556853,64.63448986602541 611,68 C 669.2593610443147,71.36551013397459 719.6983854345586,114.90209549982825 796,121 C 872.3016145654414,127.09790450017175 974.4658193060802,95.75712813466162 1058,79 C 1141.5341806939198,62.24287186533838 1206.43833734112,60.06939196152525 1267,66 C 1327.56166265888,71.93060803847476 1383.78083132944,85.96530401923738 1440,100 L 1440,200 L 0,200 Z"
                        );
                    }
                }
            </style>
            <path
                d="M 0,200 L 0,100 C 54.95156303675715,83.06286499484713 109.9031260735143,66.12572998969426 180,72.5 C 250.0968739264857,78.87427001030574 335.33905874270005,108.55994503607007 411,105 C 486.66094125729995,101.44005496392993 552.7406389556853,64.63448986602541 611,68 C 669.2593610443147,71.36551013397459 719.6983854345586,114.90209549982825 796,121 C 872.3016145654414,127.09790450017175 974.4658193060802,95.75712813466162 1058,79 C 1141.5341806939198,62.24287186533838 1206.43833734112,60.06939196152525 1267,66 C 1327.56166265888,71.93060803847476 1383.78083132944,85.96530401923738 1440,100 L 1440,200 L 0,200 Z"
                stroke="none"
                stroke-width="0"
                fill="#16171F"
                fill-opacity="1"
                class="transition-all duration-300 ease-in-out delay-150 path-0"
            >
            </path>
        </svg>
    </div>

    <!-- Donation Notificatiton Message -->
    <Toaster position="top-center" closeButton richColors client:load />
    <CheckDonationStatus client:load />
</Layout>
